In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import difflib
import random
import matplotlib.pyplot as plt
from sklearn import cluster
from sklearn import preprocessing
from surprise import SVD
from surprise.model_selection import cross_validate
from surprise import Dataset
from surprise import Reader

In [2]:
rd = pd.read_csv("ratings_small.csv")
md = pd.read_csv("movies_metadata.csv")
rd.head()

/var/folders/l8/jbc66sqs59d5rsw1pxbs0vxw0000gn/T/ipykernel_20361/4267044463.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  md = pd.read_csv("movies_metadata.csv")

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
md.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
reader = Reader(rating_scale = (1, 5))
data = Dataset.load_from_df(rd[['userId', 'movieId', 'rating']], reader)

In [5]:
sup = SVD()
cross_validate(sup, data, measures = ['MAE', 'RMSE'], cv=5, verbose=True)

Evaluating MAE, RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.6940  0.6869  0.6945  0.6869  0.6910  0.6907  0.0033
RMSE (testset)    0.8999  0.8916  0.9048  0.8903  0.8992  0.8972  0.0054
Fit time          1.16    0.75    0.77    0.87    0.80    0.87    0.15
Test time         0.19    0.12    0.20    0.12    0.21    0.17    0.04

{'test_mae': array([0.69398748, 0.68685705, 0.69452963, 0.68694975, 0.69103463]),
 'test_rmse': array([0.89993178, 0.89164713, 0.90475391, 0.89025249, 0.89920911]),
 'fit_time': (1.1569132804870605,
  0.7521228790283203,
  0.77229905128479,
  0.8692617416381836,
  0.7951760292053223),
 'test_time': (0.18564605712890625,
  0.11779189109802246,
  0.19957900047302246,
  0.12273788452148438,
  0.2072451114654541)}

In [6]:
train = data.build_full_trainset()
sup.fit(train)

In [7]:
sup.predict(uid = 10, iid = 100)

Prediction(uid=10, iid=100, r_ui=None, est=3.4901464503786372, details={'was_impossible': False})